<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <form @submit.prevent="submit" action="" method="GET">
            <h2> ¿Cuales son tus curso favoritos? </h2>
            <template v-for="curso in cursos">
                <input v-model="cursosSeleccionados" type="checkbox" :id="curso.value" :value="curso.value">
                <label :for="curso.value"> {{ curso.nombre }} </label>
                <br>
            </template>
            <button type="submit"> Enviar </button>
        </form>
    </div>
    <script>
        app = new Vue({
            el: '#app',
            data: {
                nombre: '',
                cursos: [
                    {nombre: 'Curso de Introducción a Vue.js', value: 'vue'},
                    {nombre: 'Curso de React', value: 'react'},
                    {nombre: 'Curso de SEO', value: 'seo'},
                    {nombre: 'Curso de Growth', value: 'growth'}
                ],
                cursosSeleccionados: []
            },
            methods: {
                submit: function () {
                    console.log('Se ejecuto el metodo submit');
                    console.log(this.cursosSeleccionados);
                }
            }
        })
    </script>

</body>
</html>